 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1598px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 53px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 1545px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 30px 0;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-size: 1.875rem;
  margin: 0 auto 0 0;
}

.u-section-1 .u-list-1 {
  width: 401px;
  margin: 4px 709px 0 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 518px;
  grid-gap: 0px;
}

.u-section-1 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 20px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: -1px 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1rem;
  font-style: italic;
  margin: 2px 0 0;
}

.u-section-1 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 20px 0 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.125rem;
  margin: -1px 0 0;
}

.u-section-1 .u-text-5 {
  font-size: 1rem;
  font-style: italic;
  margin: 2px 0 0;
}

.u-section-1 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 20px 0 0;
}

.u-section-1 .u-text-6 {
  font-size: 1.125rem;
  margin: -1px 0 0;
}

.u-section-1 .u-text-7 {
  font-size: 1rem;
  font-style: italic;
  margin: 2px 0 0;
}

.u-section-1 .u-list-item-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-5 {
  padding: 0 20px 0 0;
}

.u-section-1 .u-text-8 {
  font-size: 1.125rem;
  margin: -1px 0 0;
}

.u-section-1 .u-text-9 {
  font-size: 1rem;
  font-style: italic;
  margin: 2px 0 0;
}

.u-section-1 .u-list-item-5 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-6 {
  padding: 0 20px 0 0;
}

.u-section-1 .u-text-10 {
  font-size: 1.125rem;
  margin: -1px 0 0;
}

.u-section-1 .u-text-11 {
  font-size: 1rem;
  font-style: italic;
  margin: 2px 0 0;
}

.u-section-1 .u-list-item-6 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-7 {
  padding: 0 20px 0 0;
}

.u-section-1 .u-text-12 {
  font-size: 1.125rem;
  margin: -1px 0 0;
}

.u-section-1 .u-text-13 {
  font-size: 1rem;
  font-style: italic;
  margin: 2px 0 0;
}

.u-section-1 .u-list-item-7 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-8 {
  padding: 0 20px 0 0;
}

.u-section-1 .u-text-14 {
  font-size: 1.125rem;
  margin: -1px 0 0;
}

.u-section-1 .u-text-15 {
  font-size: 1rem;
  font-style: italic;
  margin: 2px 0 0;
}

.u-section-1 .u-list-item-8 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-9 {
  padding: 0 20px 0 0;
}

.u-section-1 .u-text-16 {
  font-size: 1.125rem;
  margin: -1px 0 0;
}

.u-section-1 .u-text-17 {
  font-size: 1rem;
  font-style: italic;
  margin: 2px 0 0;
}

.u-section-1 .u-list-item-9 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-10 {
  padding: 0 20px 0 0;
}

.u-section-1 .u-text-18 {
  font-size: 1.125rem;
  margin: -1px 0 0;
}

.u-section-1 .u-text-19 {
  font-size: 1rem;
  font-style: italic;
  margin: 2px 0 0;
}

.u-section-1 .u-list-item-10 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-11 {
  padding: 0 20px 0 0;
}

.u-section-1 .u-text-20 {
  font-size: 1.125rem;
  margin: -1px 0 0;
}

.u-section-1 .u-text-21 {
  font-size: 1rem;
  font-style: italic;
  margin: 2px 0 0;
}

.u-section-1 .u-list-2 {
  width: 401px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-repeater-2 {
  grid-template-columns: repeat(1, 100%);
  min-height: 98px;
  grid-gap: 0px;
}

.u-section-1 .u-list-item-11 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-12 {
  padding: 0 20px 0 0;
}

.u-section-1 .u-text-22 {
  font-size: 1.125rem;
  margin: -1px 0 0;
}

.u-section-1 .u-text-23 {
  font-style: italic;
  font-size: 1rem;
  margin: 2px 0 0;
}

.u-section-1 .u-list-item-12 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-13 {
  padding: 0 20px 0 0;
}

.u-section-1 .u-text-24 {
  font-size: 1.125rem;
  margin: -1px 0 0;
}

.u-section-1 .u-text-25 {
  font-style: italic;
  font-size: 1rem;
  margin: 2px 0 0;
}

.u-section-1 .u-text-26 {
  text-transform: uppercase;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-size: 1.875rem;
  margin: 20px auto 0 0;
}

.u-section-1 .u-list-3 {
  width: 401px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-repeater-3 {
  grid-template-columns: repeat(1, 100%);
  min-height: 235px;
  grid-gap: 0px;
}

.u-section-1 .u-list-item-13 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-14 {
  padding: 0 20px 0 0;
}

.u-section-1 .u-text-27 {
  font-size: 1.125rem;
  margin: 4px 0 0;
}

.u-section-1 .u-text-28 {
  font-size: 1rem;
  font-style: italic;
  margin: 0;
}

.u-section-1 .u-list-item-14 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-15 {
  padding: 0 20px 0 0;
}

.u-section-1 .u-text-29 {
  font-size: 1.125rem;
  margin: 4px 0 0;
}

.u-section-1 .u-text-30 {
  font-size: 1rem;
  font-style: italic;
  margin: 0;
}

.u-section-1 .u-list-item-15 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-16 {
  padding: 0 20px 0 0;
}

.u-section-1 .u-text-31 {
  font-size: 1.125rem;
  margin: 4px 0 0;
}

.u-section-1 .u-text-32 {
  font-size: 1rem;
  font-style: italic;
  margin: 0;
}

.u-section-1 .u-list-item-16 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-17 {
  padding: 0 20px 0 0;
}

.u-section-1 .u-text-33 {
  font-size: 1.125rem;
  margin: 4px 0 0;
}

.u-section-1 .u-text-34 {
  font-size: 1rem;
  font-style: italic;
  margin: 0;
}

.u-section-1 .u-list-item-17 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-18 {
  padding: 0 20px 0 0;
}

.u-section-1 .u-text-35 {
  font-size: 1.125rem;
  margin: 4px 0 0;
}

.u-section-1 .u-text-36 {
  font-size: 1rem;
  font-style: italic;
  margin: 0;
}

.u-section-1 .u-text-37 {
  text-transform: uppercase;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-size: 1.875rem;
  margin: 20px auto 0 0;
}

.u-section-1 .u-list-4 {
  width: 401px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-repeater-4 {
  grid-template-columns: repeat(1, 100%);
  min-height: 470px;
  grid-gap: 0px;
}

.u-section-1 .u-list-item-18 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-19 {
  padding: 0 20px 0 0;
}

.u-section-1 .u-text-38 {
  font-size: 1.125rem;
  margin: 0 2px 0 -2px;
}

.u-section-1 .u-text-39 {
  font-size: 1rem;
  font-style: italic;
  margin: 0;
}

.u-section-1 .u-list-item-19 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-20 {
  padding: 0 20px 0 0;
}

.u-section-1 .u-text-40 {
  font-size: 1.125rem;
  margin: 0 2px 0 -2px;
}

.u-section-1 .u-text-41 {
  font-size: 1rem;
  font-style: italic;
  margin: 0;
}

.u-section-1 .u-list-item-20 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-21 {
  padding: 0 20px 0 0;
}

.u-section-1 .u-text-42 {
  font-size: 1.125rem;
  margin: 0 2px 0 -2px;
}

.u-section-1 .u-text-43 {
  font-size: 1rem;
  font-style: italic;
  margin: 0;
}

.u-section-1 .u-list-item-21 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-22 {
  padding: 0 20px 0 0;
}

.u-section-1 .u-text-44 {
  font-size: 1.125rem;
  margin: 0 2px 0 -2px;
}

.u-section-1 .u-text-45 {
  font-size: 1rem;
  font-style: italic;
  margin: 0;
}

.u-section-1 .u-list-item-22 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-23 {
  padding: 0 20px 0 0;
}

.u-section-1 .u-text-46 {
  font-size: 1.125rem;
  margin: 0 2px 0 -2px;
}

.u-section-1 .u-text-47 {
  font-size: 1rem;
  font-style: italic;
  margin: 0;
}

.u-section-1 .u-list-item-23 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-24 {
  padding: 0 20px 0 0;
}

.u-section-1 .u-text-48 {
  font-size: 1.125rem;
  margin: 0 2px 0 -2px;
}

.u-section-1 .u-text-49 {
  font-size: 1rem;
  font-style: italic;
  margin: 0;
}

.u-section-1 .u-list-item-24 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-25 {
  padding: 0 20px 0 0;
}

.u-section-1 .u-text-50 {
  font-size: 1.125rem;
  margin: 0 2px 0 -2px;
}

.u-section-1 .u-text-51 {
  font-size: 1rem;
  font-style: italic;
  margin: 0;
}

.u-section-1 .u-list-item-25 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-26 {
  padding: 0 20px 0 0;
}

.u-section-1 .u-text-52 {
  font-size: 1.125rem;
  margin: 0 2px 0 -2px;
}

.u-section-1 .u-text-53 {
  font-size: 1rem;
  font-style: italic;
  margin: 0;
}

.u-section-1 .u-list-item-26 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-27 {
  padding: 0 20px 0 0;
}

.u-section-1 .u-text-54 {
  font-size: 1.125rem;
  margin: 0 2px 0 -2px;
}

.u-section-1 .u-text-55 {
  font-size: 1rem;
  font-style: italic;
  margin: 0;
}

.u-section-1 .u-list-item-27 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-28 {
  padding: 0 20px 0 0;
}

.u-section-1 .u-text-56 {
  font-size: 1.125rem;
  margin: 0 2px 0 -2px;
}

.u-section-1 .u-text-57 {
  font-size: 1rem;
  font-style: italic;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1699px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 1274px;
  }

  .u-section-1 .u-list-1 {
    margin-right: 509px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-repeater-3 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-repeater-4 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1379px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-list-1 {
    width: 330px;
    margin-right: 289px;
  }

  .u-section-1 .u-list-2 {
    width: 330px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
    padding-bottom: 0;
  }

  .u-section-1 .u-list-1 {
    margin-right: 129px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-13 {
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-14 {
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-15 {
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-16 {
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-17 {
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-18 {
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-19 {
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-20 {
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-21 {
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-22 {
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-23 {
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-24 {
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-25 {
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-26 {
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-27 {
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-28 {
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1517px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 0;
  }

  .u-section-1 .u-list-1 {
    margin-right: 0;
  }

  .u-section-1 .u-list-3 {
    width: 330px;
  }

  .u-section-1 .u-list-4 {
    width: 330px;
  }

  .u-section-1 .u-text-38 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-40 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-42 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-44 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-46 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-48 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-50 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-52 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-54 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-56 {
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('images/Fundo.jpg');
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 304px;
}

.u-section-2 .u-list-1 {
  width: 340px;
  margin: 47px auto;
}

.u-section-2 .u-repeater-1 {
  min-height: 444px;
  grid-template-columns: 100%;
  grid-gap: 20px;
  grid-auto-columns: 100%;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px 20px 10px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 1.375rem;
  margin: 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  line-height: 1.6;
  margin: 16px 0 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px 20px 10px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 1.375rem;
  margin: 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.125rem;
  line-height: 1.6;
  margin: 16px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 251px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 644px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9.99997px));
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 483px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    background-position: 50% 50%, 50% 50%;
    background-size: cover;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 373px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 313px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }
}