/* Estilo do popup */
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 3px solid #ccc; /* Remover borda */
    padding: 0; /* Remover padding */
    display: none; /* Inicialmente o popup está escondido */
    z-index: 1000; /* Garante que o popup ficará acima do conteúdo */
    box-shadow: none; /* Remover sombra */
    width: 100vw; /* O popup ocupa toda a largura da tela */
    height: 100vh; /* O popup ocupa toda a altura da tela */
    overflow: hidden; /* Impede que a imagem transborde do popup */
}

/* Estilo para a imagem dentro do popup */
.popup img {
    width: 100%; /* A largura da imagem ocupa 100% da tela */
    height: 100%; /* A altura da imagem ocupa 100% da tela */
    object-fit: contain; /* Mantém a proporção da imagem, sem distorcer */
    display: block; /* Remove o espaço abaixo da imagem */
    margin: 0; /* Remove qualquer margem extra ao redor da imagem */
    vertical-align: middle; /* Alinha a imagem corretamente */
}

.u-section-1 .u-sheet-1 {
  min-height: 499px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 1px 0 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 289px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-1 {
  padding: 45px 30px 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.125rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 0;
}

.u-section-1 .u-text-2 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-scale: 0.3;
  margin: 0;
}

.u-section-1 .u-text-3 {
  font-weight: 600;
  margin: 0;
}

.u-section-1 .u-text-4 {
  margin: 0;
}

.u-section-1 .u-list-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(5, 20%);
  min-height: 91px;
  grid-auto-columns: 20%;
  grid-gap: 0px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-1 .u-container-layout-2 {
  padding: 60px 30px 30px;
}

.u-section-1 .u-icon-2 {
  height: 70px;
  width: 70px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto;
}

.u-section-1 .u-text-5 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
}

.u-section-1 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-1 .u-container-layout-3 {
  padding: 60px 30px 30px;
}

.u-section-1 .u-icon-3 {
  height: 70px;
  width: 70px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto;
}

.u-section-1 .u-text-6 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
}

.u-section-1 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-1 .u-container-layout-4 {
  padding: 60px 30px 30px;
}

.u-section-1 .u-icon-4 {
  height: 70px;
  width: 70px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto;
}

.u-section-1 .u-text-7 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
}

.u-section-1 .u-list-item-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-1 .u-container-layout-5 {
  padding: 60px 30px 30px;
}

.u-section-1 .u-icon-5 {
  height: 70px;
  width: 70px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto;
}

.u-section-1 .u-text-8 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
}

.u-section-1 .u-list-item-5 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-1 .u-container-layout-6 {
  padding: 60px 30px 30px;
}

.u-section-1 .u-icon-6 {
  height: 70px;
  width: 70px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto;
}

.u-section-1 .u-text-9 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-5 {
  background-image: none;
}

.u-section-1 .u-text-10 {
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 448px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 238px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 75px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 310px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 50px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 191px;
    grid-template-columns: repeat(3, 33.333333333333336%);
    grid-auto-columns: 33.333333333333336%;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 50px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 50px;
  }

  .u-section-1 .u-text-6 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 50px;
  }

  .u-section-1 .u-text-7 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 50px;
  }

  .u-section-1 .u-text-8 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-container-layout-6 {
    padding-top: 50px;
  }

  .u-section-1 .u-text-9 {
    font-size: 1.875rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 322px;
    grid-template-columns: repeat(2, 50%);
    grid-auto-columns: 50%;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-wrap-1 {
    margin-top: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-1 .u-list-1 {
    width: 180px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 1002px;
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 60px;
    padding-bottom: 0;
  }

  .u-section-1 .u-btn-1 {
    padding: 0;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 60px;
    padding-bottom: 0;
  }

  .u-section-1 .u-btn-2 {
    padding: 0;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 60px;
    padding-bottom: 0;
  }

  .u-section-1 .u-btn-3 {
    padding: 0;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 60px;
    padding-bottom: 0;
  }

  .u-section-1 .u-btn-4 {
    padding: 0;
  }

  .u-section-1 .u-container-layout-6 {
    padding-top: 60px;
    padding-bottom: 0;
  }

  .u-section-1 .u-btn-5 {
    padding: 0;
  }
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('images/Fundo.jpg');
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 281px;
}

.u-section-2 .u-list-1 {
  width: 469px;
  margin: 47px auto;
}

.u-section-2 .u-repeater-1 {
  min-height: 188px;
  grid-template-columns: repeat(2, calc(50% - 10px));
  grid-auto-columns: calc(50% - 10px);
  grid-gap: 20px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px 11px 10px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 1.375rem;
  margin: 0 10px;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  line-height: 1.6;
  margin: 16px 0 0 10px;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px 11px 10px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 1.375rem;
  margin: 0 10px;
}

.u-section-2 .u-text-4 {
  font-size: 1.125rem;
  line-height: 1.6;
  margin: 16px 0 0 10px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 232px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 644px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 444px;
    grid-template-columns: repeat(2, calc(50% - 9.99997px));
    grid-auto-columns: calc(100% - 0px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 483px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    background-position: 50% 50%, 50% 50%;
    background-size: cover;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 408px;
  }

  .u-section-2 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 314px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
  }
}